**/.idea
*.iml
*.iws
**/target
/out
/lib
**/logs
.idea_modules/
cmake-build-debug/
cmake-build-release/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.data/
**/**/dependency-reduced-pom.xml
**/**/package-info.java
/.gradle
**/build
**/out
/docker/*.jar
/.nb-gradle/
